/backend/.bundle
/backend/vendor/bundle
/backend/log/*
/backend/tmp/*
!/backend/log/.keep
!/backend/tmp/.keep
!/backend/tmp/pids/.keep
!/backend/tmp/storage/.keep
/backend/storage/*
!/backend/storage/.keep
/backend/config/master.key
/backend/.postgres/
/log/*
/.postgres/
/frontend/node_modules
.byebug_history
.DS_Store
