/.bundle
/vendor/bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/.keep
!/tmp/storage/.keep
/storage/*
!/storage/.keep
/config/master.key
/node_modules
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.byebug_history
.DS_Store
