<footer class="site-footer">
  <div class="container site-footer__inner">
    <div class="site-footer__copy">
      <div class="site-footer__brand">
        <span class="brand__mark brand__mark--footer">
          <%= image_tag "ripple-logo.png", alt: "SpeakFlow ripple logo" %>
        </span>
        <strong>SpeakFlow</strong>
      </div>
      <p>ⓒ 2026 SpeakFlow. All rights reserved.</p>
    </div>

    <div class="site-footer__links">
      <%= link_to "강의 둘러보기", courses_path %>
      <%= link_to "카테고리", categories_path %>
    </div>
  </div>
</footer>
